/* navbar */
.nav {
    max-width: 100vw;
    background-color:mediumseagreen;
    height: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: -10px;
    padding-left: 10px;
    margin-left: -10px;
    padding-right: 10px;
    margin-right: -10px;
    position:relative;
}

/* style h1 */
h1 {
    text-align: center;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.div-fixed {
    width: 50vw;
}

/* left side banner div */
.div-left {
    float: left;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* right side sal div */
.div-right {
    float: right;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* center sal section */
.sal-section {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* h3 formatting */
h3 {
    text-align: center;
    font-family: 'Comic Sans MS';
    font-size: xx-large;
    padding-top: 10px;
}

/* h2 formatting */
h2 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* p formatting */
p {
    font-family: 'Comic Sans MS';
    font-size: larger;
    line-height: 2;
}

/* banner image formatting*/
.img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20%;
}

/* banner image formatting*/
.help-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 30px;
}

/* banner div right*/
.banner-div-right {
    padding-top: 30px;
}

/* banner div left*/
.banner-div-left {
    max-width: 70%;
}

/* sal div right*/
.sal-div-right {
    max-width: 70%;
}

/* trim edges from line */
.line-trim {
    width: 90%;
}

/* trim edges from line */
.line-trim-more {
    width: 45%;
}

/* padding to bottom of section */
.padding-bottom {
    padding-bottom:50px;
}

/* section2 heading */
.section2-heading {
    text-align: center;
    font-size: 30px;
    color: mediumseagreen
}

/* salary expectations list */
.sal-list {
    text-align: center;
    list-style-position: inside;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2;
    margin-top: 30px;
}

/* salary expectations image */
.sal-img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
}


/* help list */
.help-list {
    list-style-position: inside;
    font-family: 'Comic Sans MS';
    text-align: center;
    font-size: x-large;
    color: whitesmoke;
}

/* inline-block */
.inline {
    display: inline;
    padding-inline: 30px;
}

/* help section div left */
.help-left {
    float: left;
    width: 50vw;
    position: relative;
}

/* help section div right */
.help-right {
    float: right;
    width: 50vw;
    position: relative;
}

/* help section tips */
.help-tips {
   text-align: center;
   font-weight: bold;
}

/* help section questions */
.help-ask {
    text-align: center;
    font-family: 'Comic Sans MS';
    font-size: larger;
    line-height: 2;
 }

 /* help section scenario text */
.help-scenario {
    text-align: center;
    font-family: 'Comic Sans MS';
    font-size: larger;
    line-height: 2;
 }

/* resize help section div right image */
.img-right {
    width: 40%;
    height: auto;
    margin-left: 30px;
    box-shadow: 1px 1px 5px grey;
}

/* How it works list */
.work-list {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: x-large;
}

/* How it works answers */
.answer-list {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: medium;
}

/* Get in touch paragraph */
.in-touch-para {
    font-family: 'Comic Sans MS';
    font-size: larger;
    line-height: 2;
    text-align: center;
}

/* footer section */
.footer {
    width: 100vw;
    background-color:mediumseagreen;
    height: 100%;
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: center;
}

/* footer text anchor */
.footer-text {
    color: white;
    font-size: large;
    vertical-align: middle;
}
body {
    overflow-x: hidden;
}
